.shell[data-v-78de464c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.container[data-v-78de464c] {
  z-index: 2;
  position: relative;
  background: #fff;
  border-radius: 12px;
  width: 375px;
  height: 667px;
  overflow: hidden;
}
.shadow[data-v-78de464c] {
  z-index: 1;
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 0 82px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 82px 0 rgba(0, 0, 0, 0.75);
}
.avatar[data-v-e0b24fda] {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background: #ff0;
  overflow: hidden;
}
.avatar > img[data-v-e0b24fda] {
  width: 100%;
  height: auto;
}
.card[data-v-6f99e808] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f3f3f3;
  overflow: hidden;
  -webkit-box-shadow: -4px 22px 44px 0 rgba(0, 0, 0, 0.05);
  box-shadow: -4px 22px 44px 0 rgba(0, 0, 0, 0.05);
  color: #e3e3e3;
  font-size: 22px;
}
.card > img[data-v-6f99e808] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container[data-v-5c8d2106] {
  width: 100%;
  height: 458px;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}
.logo[data-v-26dccac6] {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 29px;
}
.period[data-v-26dccac6] {
  width: 5px;
  height: 5px;
  margin-left: 4px;
  background: #f36;
}
.panel[data-v-1ae9974a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  background: #fff;
  position: absolute;
  bottom: -580px;
  width: 100%;
  height: 667px;
  padding: 24px 24px 38px 24px;
  z-index: 999;
}
.active[data-v-1ae9974a] {
  bottom: -400px;
}
.star[data-v-7e312756] {
  background: url(img/star.03c576d3.svg);
  background-size: 100%;
  width: 15px;
  height: 15px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  margin: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.5;
}
.active[data-v-7e312756] {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.header[data-v-90b9a596],
.rating[data-v-5c42f51a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header[data-v-90b9a596] {
  padding: 24px;
}
.title[data-v-f7b327d2] {
  font-size: 16px;
  line-height: 22px;
}
.header[data-v-f7b327d2] {
  position: absolute;
  height: 90px;
  width: 100%;
}
.date[data-v-f7b327d2] {
  font-size: 11px;
  line-height: 15px;
  color: #9ba7c6;
}
.rating[data-v-f7b327d2] {
  position: absolute;
  right: 12px;
  top: 15px;
}
.description[data-v-f7b327d2] {
  font-size: 16px;
  line-height: 21px;
  color: #b9bbc4;
  margin-top: 40px;
}
.stack[data-v-f7b327d2] {
  position: absolute;
}
@font-face {
  font-family: Eina;
  src: url(fonts/eina-03-semibold.5cfdf3ef.woff2) format("woff2"),
    url(fonts/eina-03-semibold.4dd68d20.woff) format("woff");
}
#app {
  font-family: Eina, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 0;
}
